@media (max-width: 768px) {

  .container {
    padding: 0 12px;
  }

  .navbar {
    height: auto;
    padding: 12px 0;
  }

  .left h1 {
    font-size: 20px;
  }

  .hero {
    padding: 30px 0;
  }

  .hero_content {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .left h1 {
    font-size: 28px;
  }

  .left .description {
    max-width: 100%;
    margin: 0 auto;
    font-size: 14px;
  }

  .right img {
    width: 220px;
    height: 220px;
  }

  .sec1 {
    padding: 30px 0;
  }

  .sec1_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .box {
    padding: 15px 8px;
  }

  .box h1 {
    font-size: 24px;
  }

  .box p {
    font-size: 13px;
  }

  .sec2 {
    padding: 30px 0;
  }

  .sec2_content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .left1 h1 {
    font-size: 26px;
  }

  .left1 p {
    font-size: 14px;
  }

  .right1 img {
    max-width: 90%;
  }

  .sec3 {
    padding: 30px 0;
  }

  .sec3 h1 {
    font-size: 25px;
    text-align: center;
  }

  .sec3_content {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .box1 {
    max-width: 100%;
  }

  .box1 img {
    height: 190px;
  }

  .sec4 {
    padding: 30px 0;
  }

  .sec4 h1 {
    font-size: 25px;
    text-align: center;
  }

  .sec4_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .box2 {
    width: 100%;
    padding: 15px 8px;
  }

  .box2 h2 {
    font-size: 18px;
  }

  .box2 p {
    font-size: 13px;
  }

  .sec5 {
    padding: 30px 0;
  }

  .sec5 h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .sec5_content {
    flex-direction: column;
    gap: 15px;
  }

  .left3,
  .right {
    width: 100%;
    padding: 15px;
  }

}